h1 {
    color: #32db73;
    background-color: #8d5757;
  }
  
  h2 {
    color: #c9ccdf;
    background-color: #27388a;
  }
  
  h3 {
    color: #e14dd2;
    background-color: #41dce2;
  }
  
  h4 {
    color: #879817;
    background-color: #11392e;
  }
  
  h5 {
    color: #f7c257;
    background-color: #376844;
  }
  
  h6 {
    color: #170909;
    background-color: #1987a0;
  }