#cabecera {
    background-color:#c94646;
    color:#efecec;
    font-family:Courier;
  }
  
  #cuerpo {
    background-color:#e5dddd;
    font-family:Arial;
    text-indent:20px;
  }
  
  #pie {
    background-color:#ef5656;  
    text-align:center;
    color:#fff244;
  }